.chat_sender
{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.chat_sender img, 
.chat_receiver img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.chat_sender p{
    padding: 10px;
    margin-left: 2px;
    background-color:rgb(175, 172, 172);
    border-radius: 10px;
    max-width: 60%;
}

/* .chat_receiver p{
    padding: 10px;
    margin-left: 2px;
    background-color:rgb(175, 172, 172);
    border-radius: 10px;
    max-width: 30%;
    margin-top: 2px;
} */

.chat_list
{
    margin-top: 10px;
    height: 75vh;
    overflow: scroll;
    overflow-x: hidden;
}