
@import url('https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.chat_sender
{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.chat_sender img, 
.chat_receiver img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.chat_sender p{
    padding: 10px;
    margin-left: 2px;
    /* background-color:rgb(175, 172, 172); */
    background-color:#2d8eeb;
    border-radius: 10px;
    max-width: 60%;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.chat_receiver p{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
/* .chat_receiver p{
    padding: 10px;
    margin-left: 2px;
    background-color:rgb(175, 172, 172);
    border-radius: 10px;
    max-width: 30%;
    margin-top: 2px;
} */

.chat_list
{
    margin-top: 10px;
    height: 75vh;
    overflow: scroll;
    overflow-x: hidden;
    background-color: rgb(245, 244, 242);
    border-radius: 10px;
}